<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="style.css">

    <script src="app.js" defer></script>
</head>
<body>

    <form action="#" class="form">

        <div class="form-step active">
            <div class="input-group">
                <label for="username">Prénom</label>
                <input type="text" name="username" id="username">
            </div>

            <div class="input-group">
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom">
            </div>

            <a href="#" class="btn btn-next">Suivant</a>
        </div>

    </form>
    
</body>
</html>